@charset "UTF-8";
/*css 初始化 */
*{
    margin: 0;
    padding: 0;
}

fieldset, img, input, button { 			/*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;				/*清除列表风格*/
}

div {
    display: block;
}
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;			/*合并外边线*/
}


body {
    font-size: 14px;
    font-family: "microsoft yahei";
    color: #4c4c4c;
    background: #efefef;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #4c4c4c;
    text-decoration: none;
}

a:hover {
    color: #0368b0;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1160px;
    margin: 0 auto;
}

/*top start*/
.top {
    width: 1263px;
    height: 130px;
    margin: 0 auto;
    line-height: 130px;
    background-color: #fff;
}
.logo {
    float: left;
    width: 180px;
}
.logo a {
    display: block;
    float: left;
}
.logo img {
    width: 180px;
    height: 100px;
}
.siteNav {
    float: right;
}
.topMenu {
    height: 45px;
    text-align: right;
    line-height: 60px;
    color: #999;
    margin: 10px 5px;
    overflow: hidden;
}
.sinaWeibo {
    width: 16px;
    height: 17px;
    background: url("../images/ctrl.png") no-repeat -9px -201px;
    display: inline-block;
    margin-left: 5px;
}
.qqWeibo {
    width: 13px;
    height: 18px;
    background: url("../images/ctrl.png") no-repeat -35px -199px;
    display: inline-block;
}
.nav {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #39A4DC;
    position: relative;
    z-index: 1;
}
.nav .nLi {
    float: left;
    position: relative;
    display: inline;
}
.nav .nLi h3 {
    float: left;
    height: 50px;
}
.nav .on h3 a {
    height: 50px;
    background: #012b70;
    color: #fff;
}
.nav .nLi h3 a {
    display: block;
    padding: 0 30px;
    font-size: 16px;
    font-weight: bold;
}
.nav .sub {
    width: 124px;
    left: 0;
    top: 50px;
    position: absolute;
    background: #012b70;
    line-height: 26px;
    padding: 5px 0;
    z-index: 999;
}
.nav .sub a {
    display: block;
    padding: 0 10px;
    color: #fff;
    text-align: center;
}
.nav .sub a:hover {
    color: #39A4DC;
}
/*top end*/

/*footer start*/
.footer {
    position: relative;
    width: 1263px;
    margin: 30px auto 0 auto;
    padding: 17px 0;
    background-color: #c3c3c3;
}
.footerL {
    display: block;
    float: left;
}
.footerL h2 {
    line-height: 32px;
    font: 800 16px/32px "SimSun";
    color: #012b70;
}
.footerL h3 {
    line-height: 19px;
    font: 800 12px/19px "SimSun";
    color: #4c4c4c;
}
.footerL h4 {
    color: #7a7a7a;
    line-height: 17px;
    font-size: 12px;
    height: 17px;
}
.footerR img {
    float: right;
    width: 85px;
    height: 85px;
}
/*footer end*/
#goTopBtn {
    position: fixed;
    line-height: 36px;
    width: 36px;
    bottom: 35px;
    height: 36px;
    cursor: pointer;
    display: none;
    background: url("../images/goTop.gif");
}


.banner {
    width: 1263px;
    z-index: 70;
    margin: 0 auto 13px auto;
}
.banner img {
    width: 100%;
    height: 180px;
}

/*menuBanner start*/
.menuFixed {
    position: fixed;
    left: 52px;
}
.menuBanner {
    position: relative;
}
.site {
    width: 250px;
    color: #fff;
    position: absolute;
    top: -60px;
    left: 0;
    z-index: 70;
    overflow: hidden;
}
.site li {
    margin-bottom: 1px;
    background: #ccc;
    width: 250px;
    float: left;
    display: block;
}
.site li a {
    font: 800 14px/45px "microsoft yahei";
    line-height: 45px;
    width: 216px;
    color: #144e90;
    display: inline-block;
    padding-left: 34px;
}
.site li a:hover {
    background: #1480cc;
    color: #fff;
}
.site li .sel {
    background: #1480cc;
    color: #fff;
}
.site .title {
    width: 217px;
    height: 97px;
    color: #fff;
    padding: 48px 0 0 33px;
}
.site .title h2 {
    font-size: 24px;
}
.site .title h3 {
    font-size: 14px;
    height: 15px;
    line-height: 15px;
}
.rightContent {
    width: 840px;
    float: right;
}
.rightContent .rightTitle {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #d9d9d9;
}
.rightContent .rightTitle p {
    float: left;
    font: 800 18px/45px "microsoft yahei";
    color: #144e90;
    padding-left: 11px;
}
.rightContent .rightTitle span {
    float: right;
    padding-right: 26px;
    color: #4c4c4c;
}
.rightContent .textContent {
    padding: 30px 15px 0 15px;
    font-size: 14px;
    color: #666;
    width: 840px;
    line-height: 180%;
}
/*menuBanner end*/

/*newAboutBox start*/
.menuBanner .newAboutBox {
    background: #efefef;
}
.newAboutBox .newAbout2 {
    width: 249px;
    height: 218px;
    float: left;
    margin-top: 8px;
    background: #efefef;
    overflow: hidden;
}
.newAboutBox .newAbout2 li {
    width: 249px;
    height: 70px;
    display: block;
    margin-bottom: 4px;
    position: relative;
}
.newAboutBox .newAbout2 li a {
    background: url("../images/ctrl.png") no-repeat -145px -137px;
    display: inline-block;
    width: 249px;
    height: 70px;
    line-height: 70px;
    text-align: center;

}
.newAboutBox .newAbout2 li .CorporateCulture {
    background: url("../images/ctrl.png") no-repeat -60px -94px;
    width: 46px;
    height: 36px;
    float: left;
    display: inline-block;
    margin: 16px 0 0 32px;
    position: absolute;
    left: 0;
    top: 0;
}
.newAboutBox .newAbout2 li .Recruitment {
    background: url("../images/ctrl.png") no-repeat -107px -94px;
    width: 49px;
    height: 36px;
    float: left;
    display: inline-block;
    margin: 16px 0px 0px 29px;
    position: absolute;
    left: 0;
    top: 0;
}
.newAboutBox .newAbout2 li .Guestbook {
    background: url("../images/ctrl.png") no-repeat -157px -94px;
    width: 49px;
    height: 36px;
    float: left;
    display: inline-block;
    margin: 16px 0px 0px 29px;
    position: absolute;
    left: 0;
    top: 0;
}
.newAboutBox .newAbout2 li h3 {
    font-size: 16px;
    position: absolute;
    left: 99px;
    color: #000;
}
.newAboutBox .newAbout2 li h4 {
    color: #808080;
    font-size: 14px;
    font-family: Arial;
    font-weight: normal;
    position: absolute;
    top: 18px;
    left: 99px;
}
/*newAboutBox end*/

